RABBIT_MQ_USERNAME=admin
RABBIT_MQ_PASSWORD=admin
RABBIT_MQ_HOST=rabbitmq
RABBIT_MQ_PORT=5672
RABBIT_MQ_VHOST=tennis-player

MONGO_DB_STRING_CONNECTION=mongodb://admin:admin@mongodb:27017/tennis-player-micro-notifications?authSource=admin                      